body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 1rem;
  grid-template-areas:
    "navbar navbar navbar"
    ". content ."
    ". content ."
    ". content ."
    ". content .";
}

.Nav-bar {
  background-color: rgb(46, 46, 46);
  padding: 2rem;
  grid-area: navbar;
  grid-column: 2/3;
  /* grid-row: 1/2; */
  display: flex;
  /* align-content: ; */
  align-items: center;
  justify-content: space-between;
}

/* Login section of the CSS  */
.login {
  grid-area: content;
  grid-column: 2/3;
  /* width: 80%; */
  padding: 10rem 3rem;
  border-radius: 2%;
  -webkit-box-shadow: 2px 10px 54px -25px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 2px 10px 54px -25px rgba(0, 0, 0, 0.61);
  box-shadow: 2px 10px 54px -25px rgba(0, 0, 0, 0.61);
}

input[type="text"] {
  width: 100%;
  height: 3.5rem;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 8px;
  outline: none;
  padding: 0.5rem;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  height: 3.5rem;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 8px;
  outline: none;
  padding: 0.5rem;
  box-sizing: border-box;
}
.incorrect {
  padding: 1rem 0.5rem;
  color: red;
}

.correct {
  padding: 1rem 0.5rem;
  color: green;
}
.nothing {
  padding: 1rem 0.5rem;
  color: transparent;
}

input[type="text"]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}
input[type="password"]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.input label {
  padding-left: 0.5rem;
  font-size: 1.5rem;
}
.input-button {
  margin: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button[type="submit"] {
  padding: 1rem 2rem;
  width: 100%;
  outline: none;
  box-shadow: none;
  background: rgb(103, 118, 122);
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  align-items: center;
}
button[type="submit"]:hover {
  background: rgb(38, 50, 53);
  cursor: pointer;
}

/* This is for the new user side */
.new-user-form {
  grid-area: content;
  align-items: center;
  grid-column: 2/3;
  border-radius: 2%;
  /* width: 95%; */
  padding: 4rem 3rem;
  -webkit-box-shadow: 2px 10px 54px -25px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 2px 10px 54px -25px rgba(0, 0, 0, 0.61);
  box-shadow: 2px 10px 54px -25px rgba(0, 0, 0, 0.61);
}
.newuser {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-rows: repeat(9, auto);
  grid-template-areas:
    "he he"
    "fs la"
    "str str"
    "st zip"
    "em em"
    "pa pa"
    "con con"
    "sub sub"
    "add add";
}
.new-user-heading {
  grid-area: he;
  /* grid-row: 1/2; */
  text-align: center;
}
.new-user-firstname {
  grid-area: fs;
  /* grid-row: 2/3; */
}
.new-user-lastname {
  grid-area: la;
  /* grid-row: 2/3; */
}
.new-user-address {
  grid-area: str;
}
.new-user-state {
  grid-area: st;
}
.new-user-zipcode {
  grid-area: zip;
}
.new-user-email {
  grid-area: em;
}
.new-user-password {
  grid-area: pa;
}
.new-user-checkpassword {
  grid-area: con;
}
.new-user-submit {
  grid-area: sub;
}
.new-user-redirect {
  grid-area: add;
  align-items: center;
  justify-content: center;
  align-content: center;
}

button[type="submit"] {
  padding: 1rem 2rem;
  width: 100%;
  outline: none;
  box-shadow: none;
  background: rgb(103, 118, 122);
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  align-items: center;
}

/* This is the laptop section */
.laptopsection {
  grid-area: content;
}

/*this is for the laptop subsection */
.sub-nav {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 206, 206);
}
.sub-nav-left h2 {
  margin: 1rem;
}
.sub-nav-ul {
  display: flex;
  margin: 1rem;
}
.sub-nav-list {
  cursor: pointer;
  padding: 0.5rem;
  list-style-type: none;
  flex: auto;
  text-align: center;
}
.tags {
  text-decoration: none;
  background-color: rgb(46, 46, 46);
  color: rgb(223, 223, 223);
}

/* this is the laptop option section */

.opt-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "optheading optheading"
    "img options"
    "final final";
}
.opt-heading {
  display: optheading;
  grid-column: 1/4;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
input[type="radio"] {
  display: none;
}
.options-list {
  border: red 2px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.opt-col1 {
  grid-area: img;
}
.opt-col2 {
  grid-area: options;
}
.final-decision {
  grid-area: final-decision;
  grid-column: 1/3;
  display: flex;
  justify-content: space-around;
}

.options-listing {
  cursor: pointer;
  border: grey 2px solid;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}
.options-listing:hover {
  cursor: pointer;
}
.options-listing-checked {
  cursor: pointer;
  border: rgb(0, 72, 139) 5px solid;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  z-index: 1;
}
.options-listing-checked:hover {
  cursor: pointer;
}

input[type="radio"]:checked + label {
  border: rgb(255, 0, 0) 2px solid;
}

.opt-spec-list ul li {
  list-style: none;
  text-align: left;
  margin: 1rem 0;
}
.section {
  margin: 5px 0;
  padding: 1rem;
}
.opt-heading1 {
  text-align: left;
  padding: 0.5rem;
  border-bottom: solid 0.5px;
}
.opt-image {
  position: sticky;
  top: 10rem;
}

/* This is the buynow section */
.options-given {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 5rem;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1ft 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "head head"
    "option1 option2"
    "buy1 buy2";
}
.option1 {
  grid-area: option1;
}
.option2 {
  grid-area: option2;
}
.options-heading {
  grid-area: head;
  text-align: center;
}
.option-spec ul li {
  list-style: none;
  line-height: 2rem;
}

.buttons1,
.message1 {
  grid-area: buy1;
}
.buttons2,
.message2 {
  grid-area: buy2;
}

.buttons1 > button,
.buttons2 > button {
  padding: 1rem 2rem;
  margin: auto;
  width: 100%;
  outline: none;
  box-shadow: none;
  background: rgb(103, 118, 122);
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  align-items: center;
}
